[Desktop Entry]
Categories=Qt;AudioVideo;Player;Video;DiscBurning;
Comment[en_US]=
Comment=
Exec=silicon %U
GenericName[en_US]=CD/DVD Tools
GenericName=CD/DVD Tools
Icon=silicon
MimeType=application/x-cue;application/x-cd-image;
Name[en_US]=Silicon
Name=Silicon
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
